<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
        <div class="platform">
            <a href="/editdata" type="submit">Edit Data</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="back">
            <a href="/tictactoe">TicTacToe</a>
            <a href="cucucube">Cu-Cu-Cube</a>
            <a href="/jobapplication">TicTacToe</a>
            <a href="webstructure">Webstructure</a>

             
            <a href="/exel">Save Delete Data</a>
            <a href="/view">Searching</a>
            <a href="/first">2-d array representation data</a>
            <a href="/:page">Pagination</a>
            <a href="/combo">Genratecombo</a>
            <a href="/job">Job Application</a>
        </div>
    </div>    
</body>
</html>